$primary: #ff8ae8;
$secondary: #ff69b4;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

main {
    min-height: 100vh;
    background-image: radial-gradient(circle at top center, rgba(244, 234, 104, 0.5), rgba(234, 179, 103, 0.5), rgba(224, 125, 103, 0.5), rgba(214, 70, 102, 0.5), rgba(204, 15, 101, 0.5));
}

#side-menu {
    width: 240px;
    background: var(--bs-tertiary-bg);
    

    .lead {
        color: white;
        background-color: $primary;
        font-weight: bold;
        text-align: center;
        
    }
}

#main-content {
    background-color: var(--bs-tertiary-bg);
    padding: 1em;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-color) solid 1px;
    
}

